@use "./colors" as *;
@use "./mediaqueries" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");

$navLogoFontFamily: "Oooh Baby", cursive !important;
$titleFontFamily: "Montserrat", sans-serif;
$bodyFontFamily: "Open Sans", sans-serif;

@mixin H1Font {
	font-family: $titleFontFamily;
	font-size: 3.5rem;
	font-weight: bold;
	letter-spacing: 2%;
}

@mixin H2Font {
	font-family: $titleFontFamily;
	font-size: 3rem !important;
	font-weight: bold;
	letter-spacing: 2%;
}

@mixin H3Font {
	font-family: $titleFontFamily;
	font-size: 2.25rem;
	font-weight: bold;
	letter-spacing: 2%;
}

@mixin pFont {
	font-family: $bodyFontFamily;
	font-size: 1rem;
	// line-height: 1.75rem; //multiples of 1.5 the font-size
	letter-spacing: 0.02rem; //multiples of 1.5 the font-size
}

@mixin mutedFont {
	font-family: $bodyFontFamily;
	font-size: 0.812em;
	// color: $mutedTextColor;
}

.h1 {
	@include H1Font;
}

.h2 {
	@include H2Font;
}

.h3 {
	@include H3Font;
}

.whiteText {
	color: $whiteColor;
}

.secText {
	color: $secColor !important;
}

.mutedTexts {
	@include mutedFont;
}

.mutedText {
	@include mutedFont;
	color: $secColor;
	line-height: normal;
	opacity: 0.85;
}

.removeLineHeight {
	line-height: 0;
}

@include sm {
	.h1 {
		font-size: 2rem;
	}

	.h2 {
		font-size: 2.5rem;
	}

	.h3 {
		font-size: 0.5rem;
	}
	.pFont {
		font-size: 0.5rem;
	}
}
