$breakpoints: (
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
	"xxl": 1400px,
);

@mixin sm {
	@media (min-with: map-get($breakpoints, "xs")) {
		@content;
	}
}

@mixin md {
	@media (min-with: map-get($breakpoints, "xs")) {
		@content;
	}
}

@mixin lg {
	@media (min-with: map-get($breakpoints, "lg")) {
		@content;
	}
}

@mixin xl {
	@media (min-with: map-get($breakpoints, "xl")) {
		@content;
	}
}

@mixin xxl {
	@media (min-with: map-get($breakpoints, "xxl")) {
		@content;
	}
}

// how to use
/*
.classname {
    @include xs {
        color: blue; 
    }
}

watch the video in this link:
https://www.youtube.com/watch?v=3R4fpnIAozs
*/

// $breakpoints: (phone: 640px,
//                tablet: 768px,
//                desktop: 1024px) !default;

// @include media(">phone", "<tablet") {
// }

// @include media(">tablet", "<950px") {
// }
