$pryColor: #000;
$secColor: #00ffcd;
$textColor: #fff;

.pryColor {
	background-color: $pryColor;
}

.secColor {
	color: $secColor;
}

.secBgColor {
	background-color: $secColor !important;
}

.BgColor {
	background: $pryColor !important;
}