@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");

$logoFontFamily: "Oooh Baby", cursive;

.logofontfamily {
	font-family: $logoFontFamily !important;
	text-decoration: none !important
}
