@use "../generalstyles/colors.module.scss" as *;

.ConsultingHero::before {
    content: "";
    // margin-top: 55px;ß
    background-image: url(.././../public/images/ConsultingImgs/HeroImg2.png);
    background-size: fill;
    
    // background-color: #dddddd;
    
    
      position: absolute;
      top: 50px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      // opacity: 0.6;
      height: 90vh;
      width: 100%;
      min-width: 441px;
      z-index: -1;
      
    }
  
    .ConsultingHeroBg h1 {
    position: relative;
    font-size: 3rem;
    font-weight: 1000;
    margin-top: 150px;
    // font-style: bold;
  }
  .ConsultingHeroBg h2 {
    position: relative;
    font-size: 1rem;
    font-weight: 150;
    margin-left: 53px;
    // margin-bottom: 100px;
    
  }

.ConsultingHome{
    // background-color: black;
    background-size: cover;
    height: 50vh;
    // width: auto;
    margin-top: 230px;
    margin-bottom: 0px;
    left: 0px;
    right: 0px;
    
}
.h2{
    color: rgb(18, 229, 176);
    // font-weight: bolder;
    // font-size: 2rem;
    // margin-left: 15px;

    
}

.Section{
  margin-top: 100px;
  font-weight: 100;
}






// .h3{
//   color: rgb(18, 229, 176);
//   margin-left: 100px;
//   font-weight: bolder;
// }

// .h5{
//     color: rgb(18, 229, 176);;

// }

// .p{
//     // color: rgb(18, 229, 176);
//     font-weight: lighter;
//     font-size: 0.7rem;
//     color: white;
// }

// .btn{
//     background-color: blue;
//     width: 15px;
//     height: 10px;
// }





// .CardImages {
    
//     // margin-top: 55px;ß
//     background-image: url(.././../public/images/HomeImgs/how\ do\ we\ solve\ it\ img.png);
//     background-size: fill;
// }











// @import "../generalstyles/colors.module.scss";
// @import "../generalstyles/fonts.module.scss";

// .ConsultingBg h3 {
//     // position: relative;
//     font-size: 1rem;
//     font-weight: 1000;
//     margin-top: 150px;
//     // color: lime;
//     margin-left: 0px;



//   }

//   .SectionOne{
//     background-color: $pryColor;
//     background-size: fill;
//     padding-top: auto;
//     padding-bottom: 100px;
//     margin-top: 200px;
//     // margin-bottom: 150px;


//     // margin-left: 100px;
//     height: auto;
//   }
  
// //   .ConsultingBg h3 {
// //     color: color !important;
// //   }