@use "../generalstyles/colors.module.scss" as *;

.ConsultingPageHeroBgg::before {
  content: "";
  position: absolute;
  background-color: #2e3133;
  height: 72vh;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
}

.ConsultingPageHeroBg {
  background: url(/images/ConsultingImgs/consultinghero.png);
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 72vh;
  width: 100%;
}

.ConsultingPageHeroBg h2 {
  position: relative;
  line-height: 45px;
}
.ConsultingPageHeroBg h3 {
  position: relative;
  line-height: 35px;
}

@media only screen and (max-width: 990px) {
  .ConsultingPageHeroBgg::before {
    height: 33.5rem;
  }
  .ConsultingPageHeroBg::before {
    height: 33.5rem;
  }
}
@media only screen and (max-width: 765px) {
  .ConsultingPageHeroBg {
    height: 80vh;
  }
}

// .LandingPageBg {
//   background-color: #000;
// }

.ConsultingHeaderText {
  color: $secColor;
  font-weight: 700;
}
.SubHeaderText {
  color: $secColor;
}
.WhatOurClientsAskFor,
.WhoWeHaveSolvedItFor {
  background: #000000;
  opacity: 0.95;
}
