.EnterpreneurHero {
  width: auto;
  height: auto;
  background-image: url(../../public/images/HomeImgs/heroRectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-attachment: fixed;
  // background-attachment: fixed;
}

@media only screen and (min-device-width: 427px) and (max-device-width: 763px) {
  .EnterpreneurHeroimage {
    justify-content: center;
    text-align: left;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .enterpreneurLineimg {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .EnterpreneuerbodySpacing {
    margin-top: 25px;
  }
}

.homeHeroText {
  font-size: 4rem;
  font-weight: 300;
}

.Enterpreneuepic {
  height: 50vh;
}
// }
