.homebg {
	background-color: #a6a9b0;
	/* background-image: url("../public/images/HomeImgs/titi1.png");
	background-repeat: no-repeat;
	background-size: cover; */
}

.herotext {
	width: 30%;
}

@media (max-width: 576px) {
	.herotext {
		width: 54%;
	}
}
